db.sqlite3
 teste.html
cadastro/migrations/__init__.py
cadastro/migrations/0001_initial.py
cadastro/migrations/0002_alter_relatorio_id.py
cadastro/migrations/0003_cliente_delete_relatorio.py
cadastro/migrations/__pycache__/__init__.cpython-310.pyc
cadastro/migrations/__pycache__/0001_initial.cpython-310.pyc
cadastro/migrations/__pycache__/0002_alter_relatorio_id.cpython-310.pyc
cadastro/migrations/__pycache__/0003_cliente_delete_relatorio.cpython-310.pyc
cadastro/__pycache__/__init__.cpython-310.pyc
cadastro/__pycache__/admin.cpython-310.pyc
cadastro/__pycache__/apps.cpython-310.pyc
cadastro/__pycache__/models.cpython-310.pyc
cadastro/__pycache__/urls.cpython-310.pyc
cadastro/__pycache__/views.cpython-310.pyc
.eslintrc.js
